{% load static %}

<header class="header">
    <div class="header__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content">
                        <!-- header logo -->
                        <a href="{% url 'home' %}" class="header__logo">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header__nav">
                            <!-- dropdown -->
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="{% url 'home' %}" >Home</a>                                
                            </li>
                            <!-- end dropdown -->

                            
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="{% url 'filmcatalog' %}" >Movies</a>                                
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="{% url 'seriecatalog' %}" >Series</a>                                
                            </li>
                            
                            

                            <li class="header__nav-item">
                                <a href="pricing.html" class="header__nav-link">Pricing Plan</a>
                            </li>

                            <li class="header__nav-item">
                                <a href="faq.html" class="header__nav-link">Help</a>
                            </li>

                            <!-- dropdown -->
                            <li class="dropdown header__nav-item">
                                <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-more"></i></a>

                                <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="signin.html">Sign In</a></li>
                                    <li><a href="signup.html">Sign Up</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown -->
                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header__auth">
                            <button class="header__search-btn" type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>

                            
                               
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{{user.customer.avatar.url}}" class="rounded-circle" height="25" width="25" alt="">  Welcome {{user.username}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                
                                
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>
                                Logout
                                </a>
                                
                            </div>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="nav-link btn btn-outline-dark">Login</a>
                    
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'register' %}" class="nav-link btn btn-danger ml-3">Signup</a>
                    
                            </li>
                            {% endif %}
                        </div>
                        <!-- end header auth -->

                        <!-- header menu btn -->
                        <button class="header__btn" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- end header menu btn -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header search -->
    <form action="{% url 'search' %}" class="header__search"  method="GET">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__search-content">
                        <input type="text" placeholder="Search for a movie, TV Series that you are looking for" name="keyword">

                        <button type="submit">search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end header search -->
</header>